@use "../variables" as *;

.card-testimonial{
    margin-top: 30px;
    text-align: center;

    .card-body .card-title{
        margin-top: 0;
    }

    [class*=col-]{
        .card-description{
            margin-bottom: 0;

            & + .card-footer{
                margin-top: 8px;
            }
        }
    }

    .card-header-avatar{
        max-width: 130px;
        max-height: 130px;
        margin: -60px auto 0;

        img{
            border-radius: 50% !important;
        }

        & + .card-body{
            margin-top: 15px;
        }
    }

    &.card-plain{
        .card-header-avatar{
            margin-top: 0;
        }
    }

    .card-body{
        .card-avatar{
            margin: 0 auto 30px;
        }
        padding-top: 25px;
    }

    .card-description + .card-title{
        margin-top: 20px;
    }

    .card-footer{
        margin-top: 0;
        margin-bottom: 2.5rem;
    }
    .card-description{
        & + .card-title{
            margin-top: 30px;
        }
    }
    .icon{
        i{
            font-size: 32px;
        }

        &.icon-primary i{
            color: $primary-color;
        }

        &.icon-info i{
            color: $info-color;
        }

        &.icon-danger i{
            color: $danger-color;
        }

        &.icon-warning i{
            color: $warning-color;
        }

        &.icon-success i{
            color: $success-color;
        }
    }
}
